*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
ul,nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 30px;
    
}
header h4{
    text-transform: uppercase;
    
}
header nav{
    display: flex;
}
header nav li{
    margin: 0 15px;
    align-items: center;
}
header nav li:first-child{
    margin-left: 0;
}
header nav li:last-child{
    margin-right: 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    color: black;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
.banner-area .banner-img{
    background-image: url(img/tokyo.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}
.banner-area h1{
    padding: 5px 5px;
}
.banner-area h2{
    padding: 10px 10px;
}
.banner-area .banner-img:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;

}
.banner-area a.banner-btn{
    padding: 15px 35px;
    background: darkcyan;
    border-radius: 50px;
    text-transform: uppercase;
}
ul.about-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.about-content li{
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.about-left{
    flex-basis: 20%;
    background-image: url(img/usagyun_wortel.png);
}
.about-right{
    flex-basis: 60%;
}
.banner-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0px;
}
.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}
.about-right h3{
margin-bottom: 3%;
}
.about-btn{
    padding: 15px 35

}
ul.art-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.art-content li{
    padding: 20px;
    height: 290px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.art-left{
    flex-basis: 20%;
    background-image: url(img/gambar1.jpg);
}
.art-right{
    flex-basis: 60%;
}
.art-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0px;
}
.art-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}
.art-right h3{
margin-bottom: 3%;
}
.about-btn{
    padding: 15px 35
}
@media screen and (max-width:768px){
    header{
        padding: 20px 50px;
    }
    header nav li{
        align-items: center;
        text-align: center;
    }
    section{
        padding: 100px 50px;
    }
    .banner-area{
        min-height: 600px;
    }
    .banner-area h1{
        font-size: 32px;
    }
    .banner-area h2{
        font-size: 20px;
    }
    .banner-area a.banner-btn{
        padding: 15px 40px;
    }
    .about-left,.about-right{
        flex-basis: 100%;
    }
    .about-content li{
        padding: 8px;
    }
.art-left,.art-right{
    flex-basis: 100%;
}
.art-content li{
    padding: 8px;
}
}
@media screen and (max-width:500px){
    header{
        flex-direction: column;
    }
    header h4{
        margin-bottom: 15px;
    }
    header nav li{
        /*display: none; */
        margin: 0 7;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    section{
        padding: 125px 30px;
    }
    section p{
        max-width: 800px;
        text-align: center;
        margin-bottom: 35px;
        padding: 0 20px;
        line-height: 2;
    }
 
}

